source_env_if_exists .envrc.local

## Example .envrc.local
#
# export IMMICH_SERVER_URL=https://photos.example.com
# export IMMICH_KEY=123456abcdefg
# export IMMICH_LOCAL_PHOTOS="/some/local/path/with/google takeout/photos"
#
