#########################################################
# Configure the Docker container's runtime for Renovate #
#########################################################

## Read/write token on the target platform
RENOVATE_TOKEN=
## Read-only token with minimal permissions
RENOVATE_GITHUB_COM_TOKEN=

## Default: github
RENOVATE_PLATFORM=github
## Default: false
RENOVATE_AUTODISCOVER=false
## Default: false
RENOVATE_ONBOARDING=false
## Default: (none/empty)
#  Example: myorg/repo1,username/repo,username/repo2
RENOVATE_REPOSITORIES=
## Default: config/config.js
RENOVATE_CONFIG_FILE_PATH=config/config.js

## Default: optional
RENOVATE_REQUIRE_CONFIG=optional
## Enable platform issue where Renovate tracks changes
RENOVATE_DEPENDENCY_DASHBOARD=true

## Default: (named volume) cache
#  Can be a host mount or docker volume
RENOVATE_CACHE_DIR=cache
